@{
    ViewBag.Title = "Developers";
}
<h1 style="text-align:center; margin-bottom:100px">@ViewBag.Title</h1>


<div class="row" style="margin-left:140px; margin-bottom:70px">
    <div class="col-md-4">

        <div class='card h-100'>
            <img class="card-img-top" src=" ~/Content/image/chamok.jpg" alt="sdfg" width="170" height="170">
            <div class='card-body'>

                <h4 class='card-title'style="margin-left:15px">Hasan Bin Jamal</h4>
                <p class='card-text'></p>

                <section class='mb-4'>


                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://facebook.com' role='button'><i class='fab fa-facebook-f'></i></a>
                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://twitter.com' role='button'><i class='fab fa-twitter'></i></a>
                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://instagram.com' role='button'><i class='fab fa-instagram'></i></a>
                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://github.com' role='button'><i class='fab fa-github'></i></a>


                </section>


            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class='card h-100'>
            <img class="card-img-top" src=" ~/Content/image/maisha.jpg" alt="sdfg" width="170" height="170">
            <div class='card-body'>

                <h4 class='card-title'style="margin-left:20px">Fatima Juairiah</h4>
                <p class='card-text'></p>

                <section class='mb-4'>


                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://facebook.com' role='button'><i class='fab fa-facebook-f'></i></a>
                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://twitter.com' role='button'><i class='fab fa-twitter'></i></a>
                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://instagram.com' role='button'><i class='fab fa-instagram'></i></a>
                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://github.com' role='button'><i class='fab fa-github'></i></a>


                </section>


            </div>

        </div>

    </div>
    <div class="col-md-4">

        <div class='card h-100'>
            <img class="card-img-top" src="~/Content/image/omi.jpg" alt="sdfg" width="170" height="170">
            <div class='card-body'>

                <h4 class='card-title'style="margin-left:15px">Mostafa Mahatabe</h4>
                <p class='card-text'></p>

                <section class='mb-4'>


                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://facebook.com' role='button'><i class='fab fa-facebook-f'></i></a>
                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://twitter.com' role='button'><i class='fab fa-twitter'></i></a>
                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://instagram.com' role='button'><i class='fab fa-instagram'></i></a>
                    <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://github.com' role='button'><i class='fab fa-github'></i></a>


                </section>


            </div>

        </div>

    </div>
</div>
