@{
    ViewBag.Title = "Mr. Guard";
}
<h1 style="text-align:center; margin-bottom:70px">@ViewBag.Title</h1>


<address style="text-align:center; margin-bottom:70px">
    Road-5, Block-C<br />
    Banasree, Rampura, Dhaka-1219<br />
    <abbr>Phone :</abbr>
    01852253525 <br />
    <abbr>Tel :</abbr>
    025489645
</address>



<section class='mb-4' style="text-align:center; margin-bottom:70px">

     <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://facebook.com' role='button'><i class='fab fa-facebook-f'></i></a>
     <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://twitter.com' role='button'><i class='fab fa-twitter'></i></a>
     <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://instagram.com' role='button'><i class='fab fa-instagram'></i></a>
     <a class='btn btn-outline-light socialBtn btn-floating m-1' href='http://github.com' role='button'><i class='fab fa-github'></i></a>

</section>



