@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">

    <img id="img_logo" alt="Logo" width="300" height="300" src="@Url.Content("~/Content/mrGuard.png")" />
    <p class="lead" style="margin-top:15px; font-size:30px">Don’t be safety blinded. Be safety minded.</p>

</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:70px">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/image/mask.jpg" alt="" style="height: 200px; margin-left:450px">
        </div>

        <div class="item">
            <img src="~/Content/image/hand-gloves.png" alt="" style="height: 200px; margin-left: 450px">
        </div>

        <div class="item">
            <img src="~/Content/image/Master.jpg" alt="" style="height: 200px; margin-left: 450px">
        </div>
        <div class="item">
            <img src="~/Content/image/safety-helmets.jpg" alt="" style="height: 200px; margin-left: 450px">
        </div>
        <div class="item">
            <img src="~/Content/image/safety_shoes.png" alt="" style="height: 200px; margin-left: 450px">
        </div>


    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why us?</h2>
        <p>
            Mr.Guard is a largest e-commerce website in Bangladesh where seller have their own store and customers can buy any product from any specific catagory. A complete marketplace for customer and seller. We ensure you the best product available in the market now.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Our Products</h2>
        <p>We have accommodated more than 500+ products from seller. Mr. Guard is a store where you find all your needs & wants under a single roof. We have an outstanding collection of any kinds of safty equipments products which will ensure your safty nicely.</p>

    </div>
    <div class="col-md-4">
        <h2>Our service</h2>
        <p>We ensure safe payment for customer and safe cash on delivery service as well. We are here to provide your product next to your door. We are known for our premium services. Offering customers free servicing ensuring a next-level experience.</p>

    </div>
</div>